@model AccessibilityHub.WebApp.ViewModels.DisabilityResourcesViewModel

@{
    ViewData["Title"] = $"{@Model.DisabilityName} Services";
}

<h1>@Model.DisabilityName Services</h1>

<p>
    <a asp-action="Create" asp-route-disabilityId="@Model.DisabilityId">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resources.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources.FirstOrDefault().Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources.FirstOrDefault().Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Resources)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-disabilityId="@Model.DisabilityId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-disabilityId="@Model.DisabilityId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-disabilityId="@Model.DisabilityId">Delete</a>
                </td>
            </tr>
        }    
    </tbody>
</table>